---
import type { Props } from '@astrojs/starlight/props';
import Pagination from '@astrojs/starlight/components/Pagination.astro';
const year = new Date().getFullYear();
---

<footer>
  <Pagination {...Astro.props} />
  <div class="custom-footer">
    <p>&copy; {year} <a href="https://www.grisselbav.com/">Grisselbav</a> and <a href="https://www.united-codes.com/">United Codes</a>. All rights reserved.</p>
  </div>
</footer>

<style>
  footer {
    margin-top: 3rem;
  }

  /* Apply link styles to pagination links */
  footer :global(.pagination-links a) {
    color: var(--sl-color-accent-high); /* Dark mode default */
  }

  footer :global(.pagination-links a:hover) {
    color: var(--sl-color-white); /* Dark mode hover */
  }

  :root[data-theme='light'] footer :global(.pagination-links a) {
    color: var(--sl-color-accent); /* Light mode default */
  }

  :root[data-theme='light'] footer :global(.pagination-links a:hover) {
    color: var(--sl-color-white); /* Light mode hover */
  }

  .custom-footer {
    color: var(--sl-color-gray-3);
    margin-top: 1rem;
    padding-top: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--sl-color-gray-6);
    text-align: left;

    & p {
      margin: 0.75rem 0;
    }

    & a {
      color: var(--sl-color-accent-high); /* Dark mode default */
    }

    & a:hover {
      color:var(--sl-color-white); /* Dark mode hover */
    }
  }

  :root[data-theme='light'] .custom-footer a {
    color: var(--sl-color-accent); /* Light mode default */
  }

  :root[data-theme='light'] .custom-footer a:hover {
    color: var(--sl-color-white); /* Light mode hover */
  }
</style>
