---
const year = new Date().getFullYear();
---

<footer>
  <div class="container mx-auto text-center">
    <p><a href="https://united-codes.com/products/dblinter">dbLinter</a>: Catch Database Code
Problems Before
They Hit Production</p>
    <p>&copy; {year} <a href="https://www.united-codes.com/">United Codes</a> and <a href="https://www.grisselbav.com/">Grisselbav</a>. All rights reserved.</p>
    <p>
      <a href="https://www.united-codes.com/ords/uc/r/uc_portal/privacy">Privacy Policy</a> | 
      <a href="https://www.united-codes.com/ords/uc/r/uc_portal/terms">Terms of Use</a>
    </p>
  </div>
</footer>

<style>
  footer {
    color: var(--sl-color-gray-3);
    margin-top: 3rem;
    padding-top: 2rem;
    font-size: 0.875rem;
    border-top: 1px solid var(--sl-color-gray-6);

    & p {
      margin: 0.75rem 0;
    }
  }
</style>
